#profile-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: 120px;
  width: 100%;
  background-color: #FFAC26;
  background-image: url("../images/argyle.png");
}

#profile-pic {
  width: 50%
}

#profile-header div {
  display: flex;
  justify-content: center;
}

h2 {
  color: white
}