#profile-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: 120px;
  width: 100%;
  background-color: #FFAC26;
  background-image: url("../images/argyle.png");
}

#profile-pic {
  width: 50%
}

#profile-header div {
  display: flex;
  justify-content: center;
  margin: 10px 0 -5px;
}

h2 {
  color: white
}

@media (min-width: 1024px) {
  #profile-header {
    margin: 23px 30px 0 30px;
  }
}