#profile-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: 120px;
  width: 100%;
  background-color: #FFAC26;
  background-image: url("../images/argyle.png");
}