.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

#tweet-text {
  border-width: 0 0 2px;
  margin-bottom: 10px;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro";
  font-weight: 600;
  resize: none;
  outline: none;
}

.input-area{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.spread-opposite {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
}

button {
  background-color: #4056A1;
  color: aliceblue;
  
}

.red {
  color: red;
}

